@model FootBall.Web.Data.Entities.TournamentEntity

@{
    ViewData["Title"] = "Clasification";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />

<h2>Clasification</h2>

<div>
    <h4>Tournament</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.StartDateLocal)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.StartDateLocal)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.EndDateLocal)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.EndDateLocal)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.IsActive)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.IsActive)
                </dd>
            </dl>
        </div>
        <div class="col-md-4">
            @if (!string.IsNullOrEmpty(Model.LogoPath))
            {
                <img src="@Url.Content(Model.LogoPath)" alt="Image" style="width:150px;height:150px;max-width: 100%; height: auto;" />
            }
        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-success">Back to List</a>
    <a asp-action="GameDetails" class="btn btn-info">Games</a>
</div>
<br />
@if (Model.Classifications.Count != 0)
{
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Clubs</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-hover table-responsive table-striped" id="MyTable">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Classifications.FirstOrDefault().Club.LogoPath)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Classifications.FirstOrDefault().Club.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Classifications.FirstOrDefault().GamesPlayed)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Classifications.FirstOrDefault().GamesWon)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Classifications.FirstOrDefault().GamesTied)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Classifications.FirstOrDefault().GamesLost)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Classifications.FirstOrDefault().Points)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Classifications.FirstOrDefault().GoalsFor)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Classifications.FirstOrDefault().GoalsAgainst)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Classifications.FirstOrDefault().GoalsDifference)
                                </th>
                                <th width="100px"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Classifications.OrderByDescending(c => c.Points).ThenByDescending(c => c.GoalsDifference).ThenByDescending(c => c.GoalsFor))
                            {
                            <tr>
                                <td>
                                    @if (!string.IsNullOrEmpty(item.Club.LogoPath))
                                    {
                                        <img src="@Url.Content(item.Club.LogoPath)" alt="Image" style="width:50px;height:50px;max-width:100%;height:auto;" />
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Club.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GamesPlayed)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GamesWon)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GamesTied)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GamesLost)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Points)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GoalsFor)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GoalsAgainst)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GoalsDifference)
                                </td>
                                <td>
                                    <!--a asp-action="EditClubClasification" asp-route="@item.Id" class="btn btn-warning"><i class="glyphicon glyphicon-pencil"></i></!-a>-->
                                    <button data-id="@item.Id" class="btn btn-danger deleteItem" data-toggle="modal" data-target="#deleteDialog"><i class="glyphicon glyphicon-trash"></i></button>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}

<partial name="_DeleteDialog" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable();

            // Delete item
            var item_to_delete;

            $('.deleteItem').click((e) => {
                item_to_delete = e.currentTarget.dataset.id;
            });

            $("#btnYesDelete").click(function () {
                window.location.href = '/Tournaments/Delete/' + item_to_delete;
            });
        });
    </script>
}